body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

.navbar {
  margin-bottom: 20px;
}

#message {
  margin-top: 10px;
  color: green;
}

button:hover {
  background-color: #0056b3;
}
